.idea/
.idea/**

.venv/
.venv/**
.venv_*/**
.venv_**/**

envs/
envs/**
envs_*/**
envs_**/**

.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/.ipynb_checkpoints/**

__pycache__/
**/__pycache__/

~*.xlsx
~*.csv
~*.xlsm
